podSecurityContext:
  fsGroup: 1000
  fsGroupChangePolicy: OnRootMismatch

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  allowPrivilegeEscalation: false

service:
  type: ClusterIP
  port: 8096

persistence:
  config:
    enabled: true
    storageClass: local-path
    accessMode: ReadWriteOnce
    size: 5Gi

  cache:
    enabled: true
    type: pvc
    storageClass: local-path
    accessMode: ReadWriteOnce
    size: 10Gi

  media:
    enabled: true
    type: hostPath
    hostPath: /mnt/media
