service:
  enabled: false

ingress:
  enabled: false

persistence:
  config:
    enabled: true
    existingClaim: config
    mountPath: /config

  media:
    enabled: true
    existingClaim: media
    mountPath: /media

  cache:
    enabled: true
    type: emptyDir
    mountPath: /cache
