service:
  enabled: false

ingress:
  enabled: false

persistence:
  config:
    enabled: true
    existingClaim: jellyfin-config
    mountPath: /config

  media:
    enabled: true
    existingClaim: jellyfin-media
    mountPath: /media

  cache:
    enabled: true
    type: emptyDir
    mountPath: /cache
