replicaCount: 1

image:
  repository: traefik/whoami
  tag: v1.10.1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingressRoute:
  enabled: true
  entryPoints:
    - websecure
  routes:
    - match: Host(`whoami.minh.pw`)
      kind: Rule
      services:
        - name: whoami
          port: 80