apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami-ingressroute
  namespace: whoami   
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`whoami.minh.pw`)
      kind: Rule
      services:
        - name: whoami
          port: 80